<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Car updating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Car updating</h2>

    <form action="#" th:action="@{/cars/update}" th:object="${car}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{ownerID}" />
        <input type="text" th:field="*{model}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{color}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <hr>

    <a th:href = "@{/cars}"> Back to Car List</a>
</div>
</body>
</html>